# Server Configuration
PORT=3001
BODY_LIMIT=10mb
NODE_ENV=production
JWT_SECRET=your-super-secret-jwt-key

# Database (PostgreSQL)
PGUSER=postgres
PGHOST=db
PGDATABASE=cyberdock
PGPASSWORD=your-secure-password
PGPORT=5432

# Firebase configuration (Production)
# These are used in utils/firebase.js when NODE_ENV=production
FIREBASE_PROJECT_ID=cyberdock-9b169
FIREBASE_CLIENT_EMAIL=your-firebase-client-email
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
FIREBASE_DB_URL=https://cyberdock-9b169-default-rtdb.firebaseio.com
